#menuu77
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u79
{
	border-width: 1px;
	border-style: solid;
	border-color: #00FFFF;
	background-color: #000000;
	position: relative;
}

#u79:hover
{
	background-color: #999999;
}

#u79:active
{
	background-color: #6B6B6B;
}

#u114
{
	border-width: 1px;
	border-style: solid;
	border-color: #00FFFF;
	background-color: #000000;
	position: relative;
}

#u79.MuseMenuActive,#u114:hover
{
	background-color: #999999;
}

#u114:active
{
	background-color: #6B6B6B;
}

#u78,#u113,#u184
{
	background-color: transparent;
	position: relative;
}

#u185
{
	border-width: 1px;
	border-style: solid;
	border-color: #00FFFF;
	background-color: #000000;
	position: relative;
}

#u114.MuseMenuActive,#u185:hover
{
	background-color: #999999;
}

#u185:active
{
	background-color: #6B6B6B;
}

#u185.MuseMenuActive
{
	background-color: #999999;
}

#u81-4,#u116-4,#u187-4
{
	position: relative;
}

#u81-4_clip,#u116-4_clip,#u187-4_clip
{
	overflow: hidden;
	vertical-align: top;
}

#u81-4_img,#u116-4_img,#u187-4_img
{
	display: block;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u75-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u140
{
	position: relative;
	background: transparent url("../images/pixel_art_city.jpg") no-repeat center top;
	background-size: cover;
}

